html {
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

.dark {
    color-scheme: dark;
}